@import "bootstrap-sprockets";
@import "bootstrap";

input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 5px 10px;
}

.navbar {
  background-color: #e3f2fd;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin-bottom: 30px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}
